# General
.DS_Store
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Spyder project settings
.spyderproject
.ropeproject

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

